.sort-box {
    display: flex;
}

.checkBox-format {
    flex-grow: 1;
}

.checkBox-category {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.checkList {
    display: flex;
    flex-flow: wrap;
}

.checkLabel {
    display: flex;
    flex-grow: 1
}

.titleGenre {
    color: aquamarine;
}