.shop-table {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.table-item {
  flex-grow: 1;
}

.figure-item {
  margin: 0;
}

.table-image {
  aspect-ratio: 1;
  width: 250px;
  height: 250px;
}

.item-description,
.item-year,
.item-price {
  max-width: 250px;
  margin: 0 auto;
}