* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/images/vinyl.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50%;
    padding: 20px;
    font-size: 1.5rem;
    min-width: 320px
}

.main {
    background-color: white;
    flex-grow: 1;
}